.project
.buildpath
/log/*.log
/db/schema.rb
.DS_Store
/db/wdpa.sql
/lib/data/shp/WDPApol2009.*
lib/data/shp/temp.shp
/public/exports/*
/public/system/*
/coverage/*
lib/WDPApol2009.shx
lib/WDPAsource2009.dbf
lib/WDPAsource2009.dbf.xml
lib/WDPApol2009.dbf
lib/WDPApol2009.dbf
lib/WDPApol2009.prj
lib/WDPApol2009.sbn
lib/WDPApol2009.sbx
lib/WDPApol2009.shp
lib/WDPApol2009.shp.xml
