<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head lang="en" xml:lang="en">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title> Proteus WDPA Statistics Tool</title>

		<!-- STYLESHEETS GO HERE -->
		<%= stylesheet_link_tag "layout" %>
		
		<!-- JAVASCRIPT GOES HERE -->
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js",
															 "application" %>
	</head>
	<body>	
		<%= yield %>
	</body>
</html>
